:root {
  --main-background-admin-color: #ee364b2b;
  --main-admin-color: #ee364c;
}

.control {
  cursor: pointer;
  font-weight: 500;
  display: block;
  width: 100%;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  color: var(--mantine-color-text);
  font-size: var(--mantine-font-size-sm);
}

.control:hover {
  background-color: var(--main-background-admin-color);
  transition: transform 200ms ease;
  color: var(--main-admin-color);
}
.activeControl {
  color: var(--main-admin-color);
  font-weight: 700;
}

.link {
  font-weight: 500;
  display: block;
  text-decoration: none;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  padding-left: var(--mantine-spacing-md);
  margin-left: var(--mantine-spacing-xl);
  font-size: var(--mantine-font-size-sm);
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
  border-left: 2px solid;
  border-color: var(--main-background-admin-color);
}
.link:hover {
  background-color: var(--main-background-admin-color);
  color: var(--main-admin-color);
}

.activeLink {
  background-color: lightdark(var(--mantine-colors-gray-1), var(--mantine-colors-gray-9));
  color: var(--main-admin-color);
}

.chevron {
  transition: transform 200ms ease;
}
