.wrapper {
  display: flex; /* Usa flexbox para organizar en columnas */
  height: 100vh; /* Ocupa toda la altura de la pantalla */
}

.imageSection {
  flex: 1; /* Ocupa la mitad izquierda */
  background-image: url("/src/assets/images/layout1.png");
  background-size: cover;
  background-position: center;
}

.form {
  flex: 1; /* Ocupa la mitad derecha */
  max-width: 450px;
  padding: 80px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: "Greycliff CF", var(--mantine-font-family);
  font-weight: 900;
}

@media (max-width: 768px) {
  .wrapper {
    flex-direction: column; /* En pantallas pequeñas, organiza las columnas en filas */
  }

  .imageSection {
    height: 50%; /* Ajusta el tamaño de la imagen para dispositivos pequeños */
  }

  .form {
    height: 50%; /* Ajusta el tamaño del formulario */
    max-width: 100%; /* Ocupa todo el ancho */
  }
}
